BROKER=10.20.30.40:19092,10.20.30.40:19093,10.20.30.40:19094
TOPIC=transactions

# PRODUCER_RUN_MODE: continuous | interval | oneshot
PRODUCER_RUN_MODE=continuous
PRODUCER_INTERVAL_SEC=30
PRODUCER_BATCH_SIZE=100
PRODUCER_START_EVENT_ID=0

KAFKA_SECURITY_PROTOCOL=SASL_SSL
SSL_CAFILE=/certs/ca.crt
SSL_CHECK_HOSTNAME=true
KAFKA_SASL_MECHANISM=PLAIN
KAFKA_SASL_USERNAME=kafka_user
KAFKA_SASL_PASSWORD=change_me_kafka_password
